body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    transition: background-color 0.1s ease, color 0.1s ease;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1c1c1c;
    color: #f1f1f1;
}

a {
    color: #5e9265;
    text-decoration: none;
}

a:hover {
    color: #97bc9c;
}

/* Button styling */
.toggle-btn {
    padding: 7px 15px;
    cursor: pointer;
    background-color: #5e9265;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    position: absolute; /* Position the button */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
}

.toggle-btn:hover {
    background-color: #39593d;
}

header {
    background-color: #777777;
    color: white;
    padding: 15px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 110px;
}

footer {
    background-color: #5e9265;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
}

.footer p {
    margin: 0; 
    padding: 0;           /* Adjust the line height for closer spacing */
}



.container {
    height: 100%;              /* Ensure the container fills the footer height */
    margin: auto;              /* Center horizontally */
    display: flex;             /* Enable Flexbox */
    flex-direction: column;    /* Stack the <p> elements vertically */
    justify-content: center;   /* Center vertically */
    align-items: center; 
}

ul {
    list-style-type: disc; /* Or you can use circle, square, none, etc. */
    padding-left: 20px; /* Optional: Adjusts space from left */
}

li {
    margin-bottom: 15px; /* Adds space between list items */
}

.content-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile devices */
    align-items: center;    /* Center content */
    text-align: center;     /* Center text for small screens */
    margin: 20px;
}

.responsive-image {
    max-width: 100%;   /* Ensure the image is responsive */
    height: auto;
    /* margin-bottom: 20px; Space between image and text on smaller screens */
}

/* Larger screens (from 768px and above) */
@media only screen and (min-width: 768px) {
    .content-container {
        flex-direction: row; /* Arrange image and text side by side */
        justify-content: space-between; /* Add space between them */
        text-align: left; /* Align text left on larger screens */
        margin: 0;
    }

    .responsive-image {
        max-width: 50%; /* Restrict image width to 50% of the container */
        margin-bottom: 0; /* Remove the bottom margin */
    }

}